/* mobile */
@media screen and (max-width: 576px) {
  .miama {
    font-size: 6rem;
  }
  /* header */
  nav {
    width: 90%;
  }
  .nav-links {
    display: none;
  }
  .menu {
    display: block;
  }
  /* banner */
  .banner {
    width: 90%;
    margin-top: 51px;
  }
  .banner-contents {
    flex-direction: column;
  }
  .banner-content h1 {
    font-size: 2.25rem;
    max-width: 285px;
  }
  .banner-content p {
    max-width: 274px;
  }

  .content-btn a {
    font-size: 1rem;
    text-align: center;
  }
  .join-now {
    padding: 16px 41.5px;
  }
  .club {
    display: none;
  }
  .download-btn {
    padding: 16px 20.5px;
  }
  .video-tutorial {
    padding: 14px 16px;
    max-width: 155px;
    bottom: 151px;
    left: 12px;
  }
  .video-tutorial .round {
    width: 30px;
    height: 30px;
  }
  .video-tutorial h1,
  .workout-videos h1 {
    font-size: 1.12rem;
  }
  .video-tutorial p {
    font-size: 0.75rem;
  }
  .workout-videos {
    padding: 12px 16px;
    max-width: 145px;
    right: 10px;
    top: 48px;
  }
  .workout-videos p {
    font-size: 0.61rem;
  }

  /* change your habit */

  .habit {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .habit-description {
    margin-bottom: 58px;
    text-align: center;
  }
  .habit-description h1 {
    font-size: 2rem;
  }
  .habit-description p {
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .habit-card {
    grid-template-columns: repeat(1, 1fr);
  }

  /* runextra miles */
  .run {
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    width: 90%;
  }
  .run-contents {
    flex-direction: column;

    padding: 31px 33px;
    gap: 30px;
  }
  .run-details {
    width: 100%;
  }
  .details-title {
    font-size: 2rem;
  }

  .details-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .run-img {
    width: 100%;
  }
  .run-img img {
    width: 100%;
    border-radius: 18px;
  }
  .hide {
    display: block;
  }

  /* training */
  .training {
    width: 90%;
  }
  .training-img {
    display: grid;
    grid-template-areas:
      "img-1 img-2"
      "img-4 img-5";
  }
  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-5,
  .img-6 {
    height: 128px;
  }
  .img-3,
  .img-6 {
    display: none;
  }
  .training-img img {
    object-fit: cover;
    object-position: right;
    height: 128px;
  }

  /* bmi calculator */
  .bmi-headers {
    margin-bottom: 40px;
  }
  .bmi-headers,
  .calculation-box {
    width: 90%;
  }
  .header-titles,
  .header-description {
    margin-left: 0;
    max-width: 671px;
  }
  .box-flex {
    flex-direction: column;
    gap: 20px;
  }
  .header-titles {
    font-size: 1.37rem;
  }
  .calculation-box {
    padding: 20px 0;
  }

  /*meet our team  */
  .our-team {
    width: 90%;
  }
  .teams-title {
    font-size: 2rem;

    margin-top: 66px;
  }
  .teams-description {
    margin-bottom: 37px;
  }
  .team-members {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .member {
    width: 100%;
    height: 272px;
    position: relative;
  }
}
/* tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
  /* header */
  nav {
    width: 90%;
  }
  /* banner */
  .banner {
    width: 90%;
    margin-top: 75px;
  }
  .banner-contents {
    flex-direction: column;
    align-items: center;
  }
  .banner-content h1,
  p {
    max-width: 599px;
  }
  .video-tutorial {
    bottom: 151px;
    left: 12px;
  }
  .workout-videos {
    right: -12px;
    top: 48px;
  }

  /* change your habit */

  .habit {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .habit-description {
    margin-bottom: 58px;
    text-align: center;
  }
  .habit-description h1 {
    font-size: 2rem;
  }
  .habit-description p {
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .habit-card {
    grid-template-columns: repeat(2, 1fr);
  }

  /* runextra miles */
  .run {
    width: 90%;
  }

  .details-title {
    font-size: 2.25rem;
  }

  .run-img img {
    width: 256px;
    height: 319px;
    object-fit: cover;
    object-position: right;
  }
  /* training */
  .training {
    width: 90%;
  }

  /* bmi calculator */
  .bmi-headers {
    margin-bottom: 40px;
  }
  .bmi-headers,
  .calculation-box {
    width: 90%;
  }
  .header-titles,
  .header-description {
    margin-left: 0;
    max-width: 671px;
  }
  .box-flex {
    flex-direction: column;
    gap: 20px;
  }

  .calculation-box {
    padding: 20px 0;
  }

  /*meet our team  */
  .our-team {
    width: 90%;
  }
  .teams-title {
    margin-top: 72px;
  }
  .teams-description {
    margin-bottom: 54px;
  }
  .member {
    width: 100%;
    height: 272px;
  }
}
/* laptop */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  /* header */
  nav {
    width: 90%;
  }
  /* banner */
  .banner {
    width: 90%;
  }
  .banner-contents {
    align-items: center;
  }
  .video-tutorial {
    bottom: 151px;
    left: 12px;
  }
  .workout-videos {
    right: -12px;
    top: 48px;
  }
  /* change your habit */
  .habit {
    width: 90%;
  }
  .habit-card {
    grid-template-columns: repeat(4, 1fr);
  }

  /* runextra miles */
  .run {
    width: 90%;
  }
  .run-img img {
    height: 319px;
    object-fit: cover;
    object-position: right;
  }
  /* training */
  .training {
    width: 90%;
  }

  .bmi-headers,
  .calculation-box {
    width: 90%;
  }

  /*meet our team  */
  .our-team {
    width: 90%;
  }
  .member {
    width: 100%;
    height: 272px;
  }
}
/* large */
@media screen and (min-width: 1201px) and (max-width: 1600px) {
  /* header */
  nav {
    width: 85%;
  }
  /* banner */
  .banner {
    width: 85%;
  }
  .banner-contents {
    align-items: center;
  }

  /* change your habit */
  .habit {
    width: 85%;
  }
  .habit-card {
    grid-template-columns: repeat(4, 1fr);
  }

  /* run extra mile easily */
  .run {
    width: 85%;
  }
  /* training */
  .training {
    width: 85%;
  }

  .bmi-headers,
  .calculation-box {
    width: 85%;
  }

  /*meet our team  */
  .our-team {
    width: 85%;
  }
  .member {
    width: 100%;
    height: 272px;
  }
}
