/* inter fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-fonts {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* miama-fonts */
.miama {
  font-family: "Miama", sans-serif;
  font-size: 10rem;
  font-weight: 400;
}

/* univeral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* shared-style */
:root {
  --primary-color: #e6533c;
  --font-color: #ffffff;
  --secondary-font-color: rgba(255, 255, 255, 0.5);
  --secondary-color: black;
}
.btn {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 42px;
  padding: 16px 46.5px;
}
.middle {
  max-width: 1440px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.hide {
  display: none;
}
body {
  background-color: var(--secondary-color);
}
.hide {
  display: none;
}
/* header */
header {
  background: linear-gradient(
    to bottom,
    rgba(40, 40, 40, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
nav {
  padding-top: 58px;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  color: var(--primary-color);
  font-style: italic;
  font-size: 2.25rem;
  font-weight: 900;
}
.nav-links {
  gap: 47px;
}
.nav-link {
  font-size: 1.12rem;
  font-weight: 600;
  color: var(--font-color);
}
.nav-btn {
  padding: 8px 20px;
}
.menu {
  color: white;
  display: none;
}
/* banner */
.banner {
  margin-top: 32px;
}
.banner-contents {
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  max-width: 599px;
}
.banner-content h1 {
  font-size: 4.87rem;
  color: var(--font-color);
  font-weight: 900;
  max-width: 520px;
  line-height: 120%;
}
.banner-content p {
  color: var(--secondary-font-color);
  font-size: 1rem;
  max-width: 520px;
  margin: 28px 0;
  line-height: 24px;
}
.content-btn {
  gap: 14px;
}
.download-btn {
  background-color: #0f0f0f;
  border: 1px solid white;
}
.banner-img {
  position: relative;
}
.banner-img img {
  width: 100%;
}
.video-tutorial {
  padding: 20px 23px;
  background-color: rgba(48, 48, 48, 0.54);
  max-width: 206px;
  border-radius: 12px;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 63px;
  left: -113px;
}
.video-tutorial .round {
  width: 40px;
  height: 40px;
  background-color: #e6533c;
  border-radius: 50%;
}
.video-tutorial h1,
.workout-videos h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--font-color);
}
.video-tutorial p {
  color: var(--secondary-font-color);
  margin-top: 8px;
  font-size: 1rem;
}
.workout-videos {
  background-color: rgba(48, 48, 48, 0.54);
  padding: 17px 24px;
  border-radius: 12px;
  max-width: 193px;
  position: absolute;
  right: -65px;
  top: 125px;
}
.workout-videos p {
  color: var(--secondary-font-color);
  margin-top: 8px;
  font-size: 0.81rem;
}

/* change your habit */
.habit {
  margin-top: 100px;
  margin-bottom: 100px;
}
.habit-description {
  margin-bottom: 58px;
  text-align: center;
}
.habit-description h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 14px;
}
.habit-description p {
  font-size: 0.87rem;
  color: rgba(255, 255, 255, 0.5);
  max-width: 671px;
  margin: 0 auto;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.habit-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-items: center;
}
.card {
  text-align: center;
  max-width: 231px;
}
.card img {
  border-radius: 50%;
}
.card h3 {
  font-size: 1.12rem;
  font-weight: 600;
  color: #ffffff;
  margin: 30px 0 6px 0;
}
.card p {
  font-size: 0.87rem;
  line-height: 18px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
}

/* run extra miles easily */
.run {
  background-color: rgba(34, 34, 34, 1);
  border-radius: 18px;
}
.run-contents {
  padding: 32px 32px 32px 54px;
  justify-content: space-between;
  align-items: center;
}
.run-details {
  width: 45%;
}
.details-title {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}
.details-title,
.details-description,
.details-btn {
  max-width: 443px;
}
.details-btn {
  padding: 16px 71.5px;
}
.details-description {
  font-size: 0.87rem;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
  margin: 14px 0 34px 0;
}
.run-img {
  width: 45%;
}
.run-img img {
  width: 100%;
  border-radius: 18px;
}

/* trainings and exercises  */

.training {
  margin-top: 100px;
  margin-bottom: 88px;
}
.training-title {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}

.training-description {
  font-size: 0.87rem;
  color: rgba(255, 255, 255, 0.5);
  max-width: 671px;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.training-img {
  margin-top: 58px;
}
/* training-image  */
.img-1 {
  grid-area: img-1;
}
.img-2 {
  grid-area: img-2;
}
.img-3 {
  grid-area: img-3;
}
.img-4 {
  grid-area: img-4;
}
.img-5 {
  grid-area: img-5;
}
.img-6 {
  grid-area: img-6;
}
.training-img {
  display: grid;
  grid-template-areas:
    "img-1 img-2 img-2 img-2 img-3"
    "img-4 img-4 img-5 img-6 img-6 ";
}
.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6 {
  height: 201px;
  position: relative;
}
.img-1 h4,
.img-3 h4,
.img-5 h4,
.img-6 h4 {
  color: #ffffff;
  font-size: 0.87rem;
  font-weight: 500;
  position: absolute;
  left: 20px;
  bottom: 20px;
  max-width: 176px;
  z-index: 10;
}

.img-2 h4,
.img-4 h4 {
  color: #ffffff;
  font-size: 0.87rem;
  font-weight: 500;
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 176px;
  z-index: 10;
}
.img-1::before,
.img-2::before,
.img-3::before,
.img-4::before,
.img-5::before,
.img-6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.img-1::before {
  background-color: rgba(6, 255, 210, 0.5);
}
.img-2::before {
  background-color: rgba(255, 0, 0, 0.3);
}
.img-3::before,
.img-4::before {
  background-color: rgba(0, 0, 0, 0.5);
}
.img-5::before {
  background-color: rgba(66, 255, 0, 0.3);
}
.img-6::before {
  background-color: rgba(0, 71, 255, 0.3);
}
.training-img img {
  width: 100%;
  object-fit: cover;
  height: 201px;
}
